* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

body {
  height: 100%;
  width: 100%;
}

canvas {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.segs {
  background-color: #202020;
  float: left;
}

.left-or-right {
  height: 100vh;
  width: 25vw;
}

#middle {
  height: 100vh;
  width: 50vw;
}

#right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

#canvas-cont {
  box-sizing: border-box;
  background-image: url('./res/azTemple1.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95%;
  border-style: solid;
  border-width: 0.5vmin;
  border-color: #000080;
}

#score-time-bar {
  background-color: #000030;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard {
  color: white;
  font-size: 3vmin;
  margin: 2vmin;
}

.size {
  color: white;
  font-size: 7vmin;
  text-align: center;
  display: inline;
}

.size-item {
  border-color: #808080;
  margin: 2%;
  width: 50%;
  border-width: 2%;
  border-style: solid;
}

#size-buttons {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#size-text-title {
  color: white;
  text-align: center;
  width: auto;
  margin: 5%;
  font-size: 3vmin;
}

#win-message {
  color: white;
  text-align: center;
  width: auto;
  margin: 15%;
  font-size: 3vmin;
}

.full-width {
  width: 100%;
}

#about {
  color: white;
  text-align: center;
  width: auto;
  margin: 3%;
  font-size: 3.5vmin;
}

#high-scores-text {
  color: white;
  margin: 4%;
}

#score-drop-area {
  color: white;
  margin: 4%;
}
