* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

body {
  background-color: #191919;
  height: 100%;
  width: 100%;
}

.segs {
  float: left;
  background-color: #729EA1;
}

.left-or-right {
  height: 100vh;
  width: 25vw;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#middle {
  height: 100vh;
  width: 50vw;
}

canvas {
  background-color: black;
  width: 60%;
  height: 60%;
  display: block;
}

.center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

#canvas-cont {
  background-color: #B5BD89;
  width: 100%;
  height: 95%;
}

#score-time-bar {
  background-color: #E2711D;
  height: 5%;
  width: 100%;
}

#sizes {
  /* clear: both;
  float: none;*/
  /* display: block; */
  width: 100%;
}

.size {
  color: white;
  font-size: 7vmin;
  text-align: center;
  display: inline;
}

.size-item {
  /* align-items: center;
  display: block; */
}

.scoreboard {
  color: white;
}

#size-form {
  margin: 10%;
}

#about {
  text-align: center;
  width: 100%;
  margin: 5%;
  font-size: 4vmin;
}
